* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
 
}
body {
  width: 1366px;
  height: 950px;
  margin-left: auto;
  margin-right: auto;
  font-family: OpenSans,Arial,sans-serif;
  background-color: #ffffff;
 }

h1 {
  font-size: 46px;
  font-weight: normal;
  font-family: OpenSans, Arial, sans-serif;
  padding-left: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.nav_head {
    list-style-type: none;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 48px;
    background-image:linear-gradient(to top,#444343 0%, #5e5e5e 100%);
     background-image:-moz-linear-gradient(to top,#444343 0%, #5e5e5e 100%);
     background-image:-webkit-linear-gradient(to top,#444343 0%, #5e5e5e 100%);
     background-image:-o-linear-gradient(to top,#444343 0%, #5e5e5e 100%);
     background-image:-ms-linear-gradient(to top,#444343 0%, #5e5e5e 100%);
}

.nav_head li {
    float: left;
    font-size: 15px;
    line-height: 29px;
}

.nav_head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 40px;
    text-decoration: none;


}

.nav_head li a:hover:not(.active) {
    background-color: #333333;
}


 .nav_head .active {
   background-color: white;
   padding-right: 10px;
   padding-left: 10px;
   width: 100px;
   border-right: 1px solid white;
   border-left: 1px solid white;
    background-image:linear-gradient(to top,#2e2e2e 0%, #4a4a4a 100%);
    background-image:-moz-linear-gradient(to top,#2e2e2e 0%, #4a4a4a 100%);
    background-image:-webkit-linear-gradient(to top,#2e2e2e 0%, #4a4a4a 100%);
    background-image:-o-linear-gradient(to top,#2e2e2e 0%, #4a4a4a 100%);
    background-image:-ms-linear-gradient(to top,#2e2e2e 0%, #4a4a4a 100%);
}


.nav_head .first {
  width: 146px;
}


.nav_aside {
  float: left;
}


.nav_aside ul {
    background-color: #f1f1f1;
    overflow: auto;
}

.nav_aside li a {
    display: block;
    color: #000;
    padding: 12px 20px;
    text-decoration: none;
    width: 241px;
    height: 42px;
  
}


.nav_aside li {
  margin-left: 42px;
  list-style-type: none;
  border: 1px solid #c8c8c8;
  margin-bottom: -1px;
  font-size: 13px;
  color: #2c2c2c;
  vertical-align: center;
}


.nav_aside .act {
  padding-left: 40px;
  background-color: #f9f9f9;
}


img {
  float: right;
  border: 1px solid #c7c7c7;
  margin-right: 48px;
  width: 678px;
  height: 400px;
}



.container {
  margin-left: 157px;
  margin-right: 157px;
  border: 1px solid #c9c9c9;
  height: 950px;
  box-shadow: 2px 18px 5px 159px rgba(247,247,247,1);
}


.section p {
 float: right;
 margin-right: 30px;
 font-family:OpenSans,Arial, sans-serif; 
 font-size: 13px;
 line-height: 21px;
 font-weight: normal;
 padding-top: 40px;
 padding-left: 350px;
 padding-right: 55px;
}


.foot {
  height: 40px;
  list-style-type: none;
  position: absolute;
  bottom: 60px;
  left: 440px;
  font-size: 14px;
  background-color: #e0e0e0;
}

.foot {
    background-image: linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
    background-image:-moz-linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
    background-image:-webkit-linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
    background-image:-o-linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
    background-image:-ms-linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
}

.foot li {
  display: inline;
  float: left;
  font-size: 13px;
  font-family: OpenSans,Arial,sans-serif;

}

.foot li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    padding-right: 80px; 
}

.foot .last {
  padding-left: 148px;
}

.foot .checked {
  text-decoration: underline;
}










